body{
    height: 100vh;
}

.main{
    display: flex;
    height: 100vh;
}


.left{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.h1_m{
    font-size: 55px;
    margin-bottom: 20px;
}

.p_m{
    color: hsl(0, 36%, 70%);
    margin-bottom: 30px;
}


#inp_m{
    border-radius: 50px;
    border: black solid 3px;
    width: 300px;
    height: 30px;
}

.right{

    transform: translate(200px);

}

.sub_m{
    width: 100px;
    border-radius: 50px;
    border: black solid 3px;
    background-color: hsl(0, 36%, 70%);
    color: white;
    font-size: 30px;
    transform: translatey(-40px) translate(250px);
    transition: all 1s ease;
}

.sub_m:hover{

    scale: 1.1;

}

.p_m1{
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
