body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #615959;
    gap: 100px;
}

input{
    font-size: 30px;
    border-radius: 5px;
    border: solid 5px #000000;
}


.registrationForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}