body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}



.box{

    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    animation: muve 10s infinite ;

}


@keyframes muve{

    from{
        background-color: rgb(0, 0, 255);
    }
    to{
        background-color: rgb(255, 0, 0);
    }
}