body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}



.box{

    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    animation: muve 3s infinite ;

}


@keyframes muve{

    100%{
        rotate : 360deg;
    }

}