body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(117, 117, 117);

}


.box{

    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    animation-name: Rainbow;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}


@keyframes Rainbow {

    10%{
        background-color: rgb(255, 0, 0);
    }
    20%{
        background-color: rgb(255, 166, 0);
    }
    30%{
        background-color: rgb(255, 255, 0);
    }
    40%{
        background-color: rgb(0, 255, 0);
    }
    50%{
        background-color: rgb(0, 0, 255);
    }
    60%{
        background-color: rgb(255, 0, 255);
    }
    70%{
        background-color: rgb(255, 179, 191);
    }
    100%{
        background-color: rgb(255, 255, 255);
    }

}
