body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


}

.box{

    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    animation-name: locacia;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes locacia{

    100%{
        background-color: rgb(0, 0, 255);
    }


}