.flex-container {
    display: flex;        
    gap: 10px;          
    border: 2px solid black;
}

.flex-item {
    background-color: lightgreen;
    text-align: center;
    border: 1px solid green;
    width: 100px;
}


.flex-item:nth-child(2) {
    order: 4;
}
