.NavBar{
    background-color: rgb(128, 0, 128);
    height: 90px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Box1{
    background-color: rgb(0, 255, 255);
    height: 450px;
    width: 550px;
}

.Box3{
    background-color: rgb(0, 255, 255);
    height: 450px;
    width: 650px;
}

.FirstLine{
    width: 150px;
}

.Blush{
    width: 600px;
}

.Main{
    display: flex;
    gap: 30px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}