.navbar{

    background-color: purple;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 200;
}

.box1{

    background-color: aqua;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10;
}

