.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
}

.burger-icon {
    width: 24px;
    height: 24px;
}
