body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}


p{

    height: 200px;
    width: 200px;
    background-color: rgb(0, 0, 255);

}




@media (max-width: 700px) {
  p{

    background-color: rgb(255, 0, 0);

  }
}