body {
    background-color: rgb(0, 0, 0);
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    margin: 0; 
}
h1 {

    color: white;
    font-size: 50px;
}

.box {

    width: 500px;
    height: 30px;
    background-color: rgb(0, 0, 0); 
    border: 3px solid white; 


}

.fill {
    
    width: 0%; 
    height: 100%;
    background-color: white; 
    
    animation: loading 10s infinite ; 
}

@keyframes loading {

    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}