.box{


    background-color: rgb(255, 0, 0);
    width: 50px;
    height: 50px;
    transition:    background-color 3s,    transform 4s,        width 3s,         height 3s;     
   
           
            
           
    
    



}

div{

    display: flex;
    justify-content: center;
    align-items: center;

}

.box:hover {
  background-color: yellow;    
  width: 120px;                
  height: 120px;               
  transform: rotate(40deg);    
}