

.box1{


    transform: translate(-50px);

    height: 50px;
    width: 50px;
    background-color: rgb(255, 0, 0);

}




.box2{


    transform: scale(5);

    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 255);

}
