body{

    display: flex;
    background-color: hsl(0, 0%, 100%);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,2fr); 
    gap: 50px; 
    color: rgb(110, 103, 103);
    background-color: rgb(122, 121, 121);

}



.box1{

    width: 600px;
    background-color:  hsl(263, 55%, 52%);
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;

}



.box2{

    width: 300px;
    background-color:  hsl(217, 19%, 35%);
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    
}



.box3{

    width: 300px;
    background-color:  hsl(214, 17%, 92%);
    height: 700px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    
}



.box4{

    width: 300px;
    background-color:  hsl(0, 0%, 100%);
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}



.box5{

    width: 300px;
    background-color:  hsl(219, 29%, 14%);
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    
}


