body{

    background-color: hsl(0, 100%, 74%) ;
    background-image: url(bg-intro-desktop.png);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}


.main{
    border-radius: 10px;
    width: 1000px;
    background-color: hsl(0, 94%, 79%) ;
    background-image: url(bg-intro-desktop.png);
    height: 500px;

}

.main_right{

    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin-left: 500px;
    margin-top: -80px;
    transform: translatey(-500px);

}

.main_left{

    border-radius: 10px;
    width: 500px;
    height: 490px;

}


.h1_m{
    font-size: 50px;
    margin-top: 100px;
    margin-left: 50px;
    color: white;


}


.p_m{
    margin-top: 10px;
    margin-left: 50px;
    color: white;

}



.top{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 400px;
    height: 50px;
    background-color: hsl(248, 32%, 49%);

}


.h3_m{


    color: white;

}














#firstname{
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
    height: 30px;


}


#lastname{
    margin-left: 50px;
    width: 300px;
    height: 30px;




}


#emailaddress{
    margin-left: 50px;
    width: 300px;
    height: 30px;



}

   

#password{

    margin-left: 50px;
    width: 300px;
    height: 30px;


}


.bottomn{
    margin-top: 30px;
    background-color: white;
    width: 400px;
    height: 400px;    
    margin-left: 50px;
    border: solid 3px black;
    border-radius: 10px;

}

.claim{

    background-color: rgb(10, 255, 10);
    margin-left: 50px;
    width: 300px;
    height: 50px;
    border: solid 3px black;
    border-radius: 10px;
}