body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
}


button{

    height: 200px;
    width: 200px;
    padding: 20px;
}


@media(max-width: 600px){

    button{
        padding: 10px;
    }



}