body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}


img{

    height: 500px;
    width: 500px;


}


@media(max-width: 600px){

    img{
        width: 200px;
        height: 200px;
    }




}