body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


}


div{

    height: 200px;
    width: 200px;
    background-color: red;

}


@media(max-width: 600px){

    div{
        width: 100px;
        height: 100px;
    }




}