body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
}


p{

    height: 200px;
    width: 200px;
    background-color: red;

}


@media(max-width: 600px){

    body{
        flex-direction: column;
    }




}