body{
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 255);
    flex-direction: column;
}

.main{

    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    border: black solid 3px;
    height: 599px;
    width: 300px;
}


